In [1]:
#Initial environement of computations

import matplotlib.pyplot as plt
import numpy as np
from kanon.calendars import Calendar, Date
from kanon.calendars.calendars import float_to_hm, hm_to_float
from kanon.tables import HTable
from kanon.units import Sexagesimal, Historical
from kanon.units.precision import set_precision, TruncatureMode, PrecisionMode
import astropy.units as u


from kanon.tables.htable_reader import (
    DISHAS_REQUEST_URL,
    read_historical,
    read_sexag_array,
    read_intsexag_array,
)
from kanon.tables import HTable
import requests


number_reader = {
    "sexagesimal": read_sexag_array,
    "floating sexagesimal": read_sexag_array,
    "integer and sexagesimal": read_intsexag_array,
    "historical": read_historical,
}

In [2]:
#Initial table set

# Historical target table
Hist_table=HTable.read(1397, with_units=False)
Hist_table

<HTable length=31>
         Days            Entries
IntegerAndSexagesimal   Historical
--------------------- --------------
                 1 ;      00 ; 59,08
                 2 ;      01 ; 58,17
                 3 ;      02 ; 57,25
                 4 ;      03 ; 56,33
                 5 ;      04 ; 55,42
                 6 ;      05 ; 54,50
                 7 ;      06 ; 53,58
                 8 ;      07 ; 53,07
                 9 ;      08 ; 52,15
                10 ;      09 ; 51,23
                  ...            ...
                22 ;      21 ; 41,03
                23 ;      22 ; 40,12
                24 ;      23 ; 39,20
                25 ;      24 ; 38,28
                26 ;      25 ; 37,37
                27 ;      26 ; 36,45
                28 ;      27 ; 35,53
                29 ;      28 ; 35,01
                30 ;      29 ; 34,10
                31 ;  01s 00 ; 33,19

In [3]:
# Formating and initialising the Test tables

Test_recomp=Hist_table.copy()
Delta_recomp=Hist_table.copy()
for i in range(31):
    Test_recomp[i][1]=Historical(Sexagesimal('0;0,0'),2)
    Delta_recomp[i][1]=Historical(Sexagesimal('0;0,0'),2)

In [4]:
# mean motion parameter from the Parisian Alfonsine tables
daily_mean=Historical(Sexagesimal("0;59,8,19,37,19,13,56"),8)
REVO=Historical(Sexagesimal("6,0;0,0"),8)

for i in range(31):
    with set_precision(tmode=TruncatureMode.TRUNC, pmode=4):
        Test_recomp[i][1]=daily_mean*Hist_table[i][0]%REVO
        with set_precision(tmode=TruncatureMode.ROUND, pmode=2):
            Test_recomp[i][1]=1*Test_recomp[i][1]
            Delta_recomp[i][1]=3600*(Hist_table[i][1]-Test_recomp[i][1])

In [5]:
# residuals visualisation and statistical summaries 1
B=Delta_recomp.to_pandas()
(B.mean().mean(), B.std().std())

(0.03225806451612903, nan)

In [6]:
B.astype(float).style.background_gradient(axis=None)

In [7]:
#csv export of the recomputed table
B=Test_recomp.to_pandas()
compression_opts = dict(method='zip',archive_name='Solar mean days.csv')
B.to_csv('Solar mean days.zip', index=False, compression=compression_opts)