In [1]:
#Initial environement of computations

import matplotlib.pyplot as plt
import numpy as np
from kanon.calendars import Calendar, Date
from kanon.calendars.calendars import float_to_hm, hm_to_float
from kanon.tables import HTable
from kanon.units import Sexagesimal, Historical
from kanon.units.precision import set_precision, TruncatureMode, PrecisionMode
import astropy.units as u


from kanon.tables.htable_reader import (
    DISHAS_REQUEST_URL,
    read_historical,
    read_sexag_array,
    read_intsexag_array,
)
from kanon.tables import HTable
import requests


number_reader = {
    "sexagesimal": read_sexag_array,
    "floating sexagesimal": read_sexag_array,
    "integer and sexagesimal": read_intsexag_array,
    "historical": read_historical,
}

In [3]:
#Initial table set

# Historical target table
Hist_table=HTable.read(1450, with_units=False)
Hist_table

<HTable length=31>
         days          Entries
IntegerAndSexagesimal Historical
--------------------- ----------
                 1 ;  00 ; 03,11
                 2 ;  00 ; 06,22
                 3 ;  00 ; 09,32
                 4 ;  00 ; 12,43
                 5 ;  00 ; 15,53
                 6 ;  00 ; 18,04
                 7 ;  00 ; 22,14
                 8 ;  00 ; 25,25
                 9 ;  00 ; 28,36
                10 ;  00 ; 31,46
                  ...        ...
                22 ;  01 ; 09,54
                23 ;  01 ; 13,05
                24 ;  01 ; 16,15
                25 ;  01 ; 19,26
                26 ;  01 ; 22,37
                27 ;  01 ; 25,46
                28 ;  01 ; 28,58
                29 ;  01 ; 32,08
                30 ;  01 ; 35,19
                31 ;  01 ; 38,29

In [4]:
# Formating and initialising the Test tables

Test_recomp=Hist_table.copy()
Delta_recomp=Hist_table.copy()
for i in range(31):
    Test_recomp[i][1]=Historical(Sexagesimal('0;0,0'),2)
    Delta_recomp[i][1]=Historical(Sexagesimal('0;0,0'),2)

In [5]:
# mean motion parameter from the Parisian Alfonsine tables
daily_mean=Historical(Sexagesimal("0;3,10,38,7,14,49,10"),7)
REVO=Historical(Sexagesimal("6,0;0,0"),7)

for i in range(31):
    with set_precision(tmode=TruncatureMode.TRUNC, pmode=3):
        Test_recomp[i][1]=daily_mean*Hist_table[i][0]%REVO
        with set_precision(tmode=TruncatureMode.ROUND, pmode=2):
            Test_recomp[i][1]=1*Test_recomp[i][1]
            Delta_recomp[i][1]=3600*(Hist_table[i][1]-Test_recomp[i][1])

In [6]:
# residuals visualisation and statistical summaries 1
B=Delta_recomp.to_pandas()
(B.mean().mean(), B.std().std())

(-1.935483870967742, nan)

In [7]:
B.astype(float).style.background_gradient(axis=None)

In [8]:
#csv export of the recomputed table
B=Test_recomp.to_pandas()
compression_opts = dict(method='zip',archive_name='Lunar node days.csv')
B.to_csv('Lunar node days.zip', index=False, compression=compression_opts)