In [1]:
#Initial environement of computations

import matplotlib.pyplot as plt
import numpy as np
from kanon.calendars import Calendar, Date
from kanon.calendars.calendars import float_to_hm, hm_to_float
from kanon.tables import HTable
from kanon.units import Sexagesimal, Historical
from kanon.units.precision import set_precision, TruncatureMode, PrecisionMode
import astropy.units as u


from kanon.tables.htable_reader import (
    DISHAS_REQUEST_URL,
    read_historical,
    read_sexag_array,
    read_intsexag_array,
)
from kanon.tables import HTable
import requests


number_reader = {
    "sexagesimal": read_sexag_array,
    "floating sexagesimal": read_sexag_array,
    "integer and sexagesimal": read_intsexag_array,
    "historical": read_historical,
}

In [2]:
#Initial table set

# Historical target table
Hist_table=HTable.read(1408, with_units=False)
Hist_table

<HTable length=31>
         days          Entries
IntegerAndSexagesimal Historical
--------------------- ----------
                 1 ;     00 ; 37
                 2 ;     01 ; 14
                 3 ;     01 ; 51
                 4 ;     02 ; 28
                 5 ;     03 ; 05
                 6 ;     03 ; 42
                 7 ;     04 ; 19
                 8 ;     04 ; 56
                 9 ;     05 ; 33
                10 ;     06 ; 10
                  ...        ...
                22 ;     13 ; 34
                23 ;     14 ; 11
                24 ;     14 ; 48
                25 ;     15 ; 25
                26 ;     16 ; 02
                27 ;     16 ; 39
                28 ;     17 ; 16
                29 ;     17 ; 53
                30 ;     18 ; 30
                31 ;     19 ; 07

In [3]:
# Formating and initialising the Test tables

Test_recomp=Hist_table.copy()
Delta_recomp=Hist_table.copy()
for i in range(31):
    Test_recomp[i][1]=Historical(Sexagesimal('0;0,0'),2)
    Delta_recomp[i][1]=Historical(Sexagesimal('0;0,0'),2)

In [4]:
# mean motion parameter from the Parisian Alfonsine tables
daily_mean=Historical(Sexagesimal("0;36,59,27,23,59,31"),7)
REVO=Historical(Sexagesimal("6,0;0,0"),7)

for i in range(31):
    with set_precision(tmode=TruncatureMode.TRUNC, pmode=2):
        Test_recomp[i][1]=daily_mean*Hist_table[i][0]%REVO
        with set_precision(tmode=TruncatureMode.ROUND, pmode=1):
            Test_recomp[i][1]=1*Test_recomp[i][1]
            Delta_recomp[i][1]=3600*(Hist_table[i][1]-Test_recomp[i][1])

In [5]:
# residuals visualisation and statistical summaries 1
B=Delta_recomp.to_pandas()
(B.mean().mean(), B.std().std())

(-36.774193548387096, nan)

In [6]:
B.astype(float).style.background_gradient(axis=None)

In [7]:
#csv export of the recomputed table
B=Test_recomp.to_pandas()
compression_opts = dict(method='zip',archive_name='Venus mean days.csv')
B.to_csv('Venus mean days.zip', index=False, compression=compression_opts)